/*
Custom Css
*/
.brazilian-gradient-text {
    background: linear-gradient(to right, #009c3b, #fdd230, #002776); /* Green, Yellow, Blue */
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar-custom {
  background-color:#057a8d;
}

.ollapng {
    border: 4px solid white;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Example shadow */
    
}

.ollapng::before {
    content: "";
    position: absolute;
    top: -4px; /* Adjust to match border width */
    left: -4px; /* Adjust to match border width */
    right: -4px; /* Adjust to match border width */
    bottom: -4px; /* Adjust to match border width */
    border: 4px solid white;
    filter: blur(5px); /* Adjust blur amount as needed */
    z-index: -1; /* Place behind the image */
}